.form {
  max-width: 385px;
  padding-bottom: 120px;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__label {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  margin-top: 8px;
  padding: 15px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  border: 0;
  background-color: #2f80ed;
  color: #ffffff;
  font-weight: 500;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__pseudo-input {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.form__input[type="checkbox"]:checked + .form__pseudo-input {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
